{{page-title "Play"}}
{{outlet}}

<div class="page-container">
  <div class="top-container">
    <div class="left-container">left</div>
    <div class="color-picker-container">

      <ColorPicker @color={{this.color}} @onChange={{this.changeColor}} />
    </div>
  </div>
  <div class="picture-container">
    <div class="grid-left">Grid</div>
    <div class="grid-right">Grid</div>
  </div>
</div>